/* CSS reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background: url(wedding-landing-background.png); 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 * {
     box-sizing: border-box;
 }

 header {
     width: 100vw;
     height: 100vh;
     background: url(fugeliget\ legifoto.jpg) no-repeat center center fixed;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center; 
 }
 .headline {
     background-color: hsla(94, 23%, 12%, 0.6);
     width: 60%;
     height: 50%;
     text-align: center;
 }
 .welcometofugeliget, .biggestorchard {
    color: hsla(0,0%,100%,.9);
    font-size: 1 rem;
    letter-spacing: 0.1rem;
    font-family: 'Libre Baskerville', serif;
 }
 .biggestorchard::before, .biggestorchard::after {
    display: inline-block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 1.5rem;
    vertical-align: middle;
    margin: 0 .5rem;
  }
 .welcometofugeliget {
     padding-top: 2rem;
 }
 .welcometofugeliget::after {
    display: block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 12.515625rem;
    margin: .5rem auto;
  }

 .name {
     color: hsl(31, 62%, 65%);
     font-size: 5rem;
     font-family: 'Pacifico', cursive;
     padding-top: 2.5rem;
     padding-bottom: 2.5rem;
 }


.whatdowedo {
    padding: 3rem 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.whatdowedoheadline, .figharvestheadline, .contactheadline {
    font-size: 3rem;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: hsla(94, 23%, 12%, 0.8);
    padding-bottom: 3rem;
}
.weproducefigs, .wearefamily, .hobby {
    width: 32.5%;
    display: inline-block;
    text-align: center;
}

.weproducefigsheadline, .familyheadline, .hobbyheadline {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: hsla(94, 23%, 12%, 0.8);
    padding-bottom: 2rem;
}
.whatdowedopic {
    width: 25%;
    padding-bottom: 2rem;
}
.weproducefigspara, .familypara, .hobbypara {
    font-size: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: hsla(94, 23%, 12%, 0.8);
    line-height: 2rem;
    padding-bottom: 2rem;
}



.ourhistory {
    background: hsla(94, 23%, 12%, 0.8);
    text-align: left;
    padding: 3rem 3rem;
    padding-left: 15%;
    padding-right: 15%;
    color: hsl(31, 62%, 65%);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}
.ourhistoryheadline {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}
.ourhistorypara {
    padding-bottom: 2rem;
    font-style: italic;
}

.figfotoone {
    width: 100vw;
    height: 50vh;
    background: url(yellowfig.jpg) no-repeat center center fixed;
}
.figharvest {
    text-align: center;
    height: 100vh;
    padding: 3rem 3rem;
    color: hsla(94, 23%, 12%, 0.8);
    font-family: 'Libre Baskerville', serif;
    font-size: 1.1rem;
    line-height: 2rem;
}

.figpurchasepara {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
}


.qa {
    background: hsla(94, 23%, 12%, 0.8);
    padding: 3rem 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    color: hsl(31, 62%, 80%);
}
.qaheadline {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.abouthtefigs, .howtobuyfigs, .processingfigs {
    width: 33%;
    display: inline-block;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
    vertical-align: text-top;
}
.quaheadlines {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.4rem;
    padding-bottom: 2rem;
}

.question, .answer {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.15rem;
    padding-bottom: 1rem;
    line-height: 1.8rem;
}
.question {
    font-weight: 700;
}
.answer {
    font-weight: 300;
}
a {
    color: #bd806e;
    text-decoration: none;
}

.figfototwo {
    width: 100vw;
     height: 50vh;
     background: url(fugecoverpic.jpg) no-repeat center center fixed;
}


.contact {
    text-align: center;
    padding: 3rem 3rem;
    color: hsla(94, 23%, 12%, 0.8);
    font-family: 'Libre Baskerville', serif;
    font-size: 1.15rem;
    line-height: 3rem;
}

.figfotothree {
    width: 100vw;
     height: 50vh;
     background: url(figfamily.jpg) no-repeat center center fixed;
}

footer {
    background-color:hsla(94, 23%, 12%, 0.6);
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: .9rem;

}

  /* Media Queries come here*/

@media (max-width: 900px) {
    .headline {
        background-color: hsla(100,0%,0%,.6);
        width: 100%;
        height: 40%;
        text-align: center;
    }
    .name {
        padding-bottom: 2rem;
    }
    .whatdowedo, .wearefamily, .hobby {
        width: 100%;
        display: block;
        text-align: center;
    }

}

@media (max-width: 700px) {

    .name {
        padding-bottom: 1rem;
    }

}


@media (max-width: 600px) {
    .headline {
        background-color: hsla(100,0%,0%,.6);
        width: 100%;
        height: 40%;
        text-align: center;
    }
    .welcometofugeliget, .biggestorchard {
        color: hsla(0,0%,100%,.9);
        font-size: 1rem;
        letter-spacing: 0.1rem;
        font-family: 'Libre Baskerville', serif;
        padding-top: 2rem;
     }
     .name {
         color:  hsl(31, 62%, 65%);
         font-size: 4rem;
         font-family: 'Pacifico', cursive;
         padding-top: 2.5rem;
         padding-bottom: .5rem;
     }
    span {
        letter-spacing: -5px;
    }
    .whatdowedo, .wearefamily, .hobby {
        width: 100%;
        display: block;
        text-align: center;
    }
    .giftspic {
        width: 25%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .abouthtefigs, .howtobuyfigs, .processingfigs {
        width: 100%;
        display: inline-block;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        text-align: left;
    }
    .ourhistory {
        background: hsla(94, 23%, 12%, 0.8);
        padding-left: 10%;
        padding-right: 10%;
    }
    .weproducefigspara::after, .familypara::after, .hobbypara::after {
        content: "";
        display: block;
        height: .1875rem;
        width: 25vw;
        margin: 1.5rem auto;
        background-color: hsla(94, 23%, 12%, 0.6);
    }
    .figharvest {
        font-size: .9em;
        height: 300vh;
    }
    .abouthtefigs::after, .howtobuyfigs::after, .processingfigs::after {
        content: "";
        display: block;
        height: .1875rem;
        width: 25vw;
        margin: 1.5rem auto;
        background-color: hsla(94, 23%, 12%, 0.6);
    }
}
